@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;700;800&display=swap');

//Variables
$color1: #FAFAFA;
$color2: #151515;
$color3: #ffff00ec;
$color4: #2f7df1;
$color5: #05224e;
$color6: #555555;
$color7: #cdcdcd;
$color8: #20a082;
$color9: #7efadd;
$color10: #d30000;
$color11: #fab8b8;
$color12: #215CB1;
$color13: #FFF;



//fonts
$font-text: 'Lexend', sans-serif;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color4;
  color6: $color4;
  color7: $color4;
  color8: $color4;
  color9: $color4;
  color10: $color4;
  color11: $color4;
}
