@import '/src/abstract/abstract';

.footer{
  @include screenSize(100vw,auto);
  background: $color5;
  padding: 2em;
  @include displayFlex(center, center, row);
  a{
    color: $color1;
    cursor: pointer;
  }
}
