<header class="header">
  <nav class="header__navbar">
    <span class="header__navbar-logo">
      <img src="assets/logo.png" alt="icone de Logo" class="logo">
      <h4 class="title">Travel Booking</h4>

    </span>

    <div *ngIf="user$ | async as user" class="userbar">
      <div *ngIf="user.name; else login" class="options">
        <div class="profile">
          <img src="/assets/user.png" alt="user image" class="profile__user"/>
          <a class="name">{{user.name}}</a>
        </div>
        <div class="tickets">
          <span class="tickets__trips">{{travels}}</span>
          <img src="/assets/ticket.png" alt="tickets icon" class="tickets__image"/>
        </div>
        <span class="toggleSession">
          <a (click)="logout()"><img src="/assets/logout.png" alt="logout icon"/></a>
        </span>
      </div>
    </div>
  </nav>
    <ng-template #login class="options">
      <span class="toggleSession">
        <a [routerLink]="['']">Login</a>
      </span>
    </ng-template>
</header>
