@import '/src/abstract/abstract';

.loginWrapper{
  @include screenSize(35vw,auto);
  @include displayFlex(flex-start, center, column);
  //tablet
  @include for-tablet-only{
    @include screenSize(45vw,auto);
  }
  //mobile
  @include for-mobile-only{
    @include screenSize(80vw,auto);
    background-color: $color1;
    border-radius: .5em;
    padding: 4em 1.5em;
    @include cardShadow();
  }
  //mobile(S)
  @include for-mobileS-only{
    @include screenSize(95vw,auto);
    padding: 5em .5em;
  }
  &__title{
    @include displayFlex(center,center,row);
    margin-bottom: 3em;
    .logo{
      @include screenSize(60px,60px);
      margin-right: .8em;
    }
    .title{
      font-size: 30px;
      text-align: left;
      padding: 1em 0;
    }
  }
  &__form{
    @include screenSize(80%,auto);
    @include displayFlex(center,center,column);
    &-inputField{
      @include screenSize(100%,auto);
      margin: .5em 0;
      .input{
        @include screenSize(100%,56px);
        border-radius: .6em;
        padding: .5em;
        font-size: 20px;
        border: 1px solid $color5;
        outline: none;
      }
    }
    &-button{
      @include screenSize(100%,auto);
      border-radius: .6em;
      background: $color5;
      color: $color1;
      font-size: 22px;
      margin-top: .8em;
      outline: none;
      padding: 1em;
      border: 1px solid $color1;
      @include cardShadow();
      cursor: pointer;
    }
  }
}
