@import "../../../abstract/abstract";

.loginSection{
  @include screenSize(20vw, auto);
  padding: 2em;
  background: linear-gradient(270deg, $color1,#FFF);
  border-radius: .5em;
  @include cardShadow();
  color: $color2;
  //viewport
  @include for-viewport-only{
    @include screenSize(30vw, auto);
  }
  //tablet(S)
  @include for-tabletS-only{
    @include screenSize(42vw, auto);
  }
  //mobile(M)
  @include for-mobile-only{
    @include screenSize(65vw, auto);
  }
    //mobile(S)
    @include for-mobileS-only{
      @include screenSize(90vw, auto);
    }
  &__titleWrapper{
    @include screenSize(100%,auto);
    margin-bottom: 1em;
    &-title{
      @include text(start);
      color: $color6;
    }
  }
  &__form{
    @include screenSize(100%,auto);
    margin-top: 16px;
    &-field{
      @include displayFlex(center, flex-start, column);
      margin: 16px 0;
      .label{
        @include label(left);
      }
      .inputField{
        @include input();
        border-radius: .5em;
        outline: none;
        border: 1px solid $color2;
        &:focus{
          border: 3px solid $color3;
        }
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px $color1 inset;
        }
        &:-webkit-autofill {
          -webkit-text-fill-color: $color2 !important;
        }
      }
    }
    &-button{
      @include screenSize(100%,56px);
      margin: 24px 0;
      font-size: 16px;
      @include cardShadow();
      background: linear-gradient(270deg,$color4,$color5);
      cursor: pointer;
      color: $color1;
      outline: none;
      border: 1px solid $color1;
      border-radius: .5em;
      transition: all .5s ease-in-out;
      &:disabled{
          transition: all .5s ease-in-out;
          background: $color6;
          opacity: 0.3;
          cursor:help;
      }
    }
  }
  &__createAnAccount{
    font-size: 12px;
    @include displayFlex(center, center,row);
    gap: 4px;
    a{
      cursor: pointer;
      @include resetLink($color4);
    }
  }
}
