<section class="loginWrapper">
  <div class="loginWrapper__title">
    <img src="assets/logo.png" alt="icone de Logo" class="logo">
    <h4 class="title">Travel Booking</h4>

  </div>

  <form class="loginWrapper__form" (ngSubmit)="login()">
    <div class="loginWrapper__form-inputField">
      <input
       placeholder="Digite seu e-mail"
       type="email"
       class="input"
       [(ngModel)]="user"
       name="user"
       >
    </div>
    <div class="loginWrapper__form-inputField">
      <input
       placeholder="Digite sua senha"
       type="password"
       class="input"
       [(ngModel)]="password"
       name="password"
       >
    </div>
    <button type="submit" class="loginWrapper__form-button">
      Entrar
    </button>
  </form>
<section>
