<section class="registerSection">
  <div class="registerSection__titleWrapper">
    <h4 class="registerSection__titleWrapper-title">Registre se e aproveite nossas promoções:</h4>
  </div>
<form  autocomplete="off" class="registerSection__form" [formGroup]="newUserForm" (ngSubmit)="register()" #registerForm="ngForm">
  <!-- Full Name -->
  <div class="registerSection__form-field">
    <label for="fullName" class="label">Seu nome completo:</label>
    <input
      type="text"
      id="fullName"
      required
      name="fullName"
      class="inputField"
      name="fullName"
      formControlName="fullName"
      />
      <app-message
       message="Nome Obrigatório"
       *ngIf="newUserForm.get('fullName')?.errors &&
        newUserForm.get('fullName')?.touched"
       >
      </app-message>
  </div>
  <!-- Email -->
  <div class="registerSection__form-field">
    <label for="email" class="label">Digite seu e-mail:</label>
    <input
      type="email"
      id="email"
      required
      name="email"
      class="inputField"
      name="email"
      formControlName="email"
      />
      <app-message
       message="E-mail Obrigatório"
       *ngIf="newUserForm.get('email')?.errors?.['required']
        && newUserForm.get('email')?.touched"
       >
      </app-message>
      <app-message
       message="E-mail no formato incorreto"
       *ngIf="newUserForm.get('email')?.errors?.['email'] &&
        newUserForm.get('email')?.touched"
      >
      </app-message>
      <app-message
       message="O E-mail já está em uso"
       *ngIf="newUserForm.get('email')?.errors?.['existingUser']"
      >
      </app-message>
  </div>
  <!-- Telefone -->
  <div class="registerSection__form-field">
    <label for="phone" class="label">Digite seu telefone:</label>
    <input
      type="tel"
      id="phone"
      required
      name="phone"
      class="inputField"
      name="phone"
      formControlName="phone"
      />
      <app-message
      message="Verificar Telefone"
      *ngIf="newUserForm.get('phone')?.errors &&
      newUserForm.get('phone')?.touched"
      >
      </app-message>
  </div>
  <!-- CPF -->
  <div class="registerSection__form-field">
    <label for="cpf" class="label">Digite seu CPF:</label>
    <input
      type="cpf"
      id="cpf"
      required
      name="cpf"
      class="inputField"
      name="cpf"
      formControlName="cpf"
      />
    <app-message
     message="CPF Inválido"
     *ngIf="newUserForm.get('cpf')?.errors?.['invalidCpf']
     && newUserForm.get('cpf')?.touched"
     >
    </app-message>
  </div>
  <!-- Senha -->
  <div class="registerSection__form-field">
    <label for="password" class="label">Digite uma senha:</label>
    <input
     type="password"
     required
     name="password"
     id="password"
     class="inputField"
     formControlName="password"
     />
     <app-message
      message="A senha deve conter no mínimo 6 dígitos"
      *ngIf="newUserForm.get('password')?.errors &&
      newUserForm.get('password')?.touched"
     >
     </app-message>
  </div>
  <button class="registerSection__form-button" [disabled]="registerForm.invalid">
    Criar usuário
  </button>
</form>
<div class="registerSection__signIn">
  <p>Já tem uma conta?</p> <a [routerLink]="['']">Faça o login</a>
</div>
</section>
